In [35]:
# what is tuple in python

# Tuple is a collection of data which is ordered and unchangeable. It is written with round brackets. It can have any number of items and they may be of different types (integer, float, string etc.). It is similar to a list, but it is immutable, which means that once a tuple is created, its elements cannot be modified.

In [36]:
#creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [37]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [2]:
#list is converted as tuple
numbers=tuple([1,2,3,4,5,6])
type(numbers)
numbers

(1, 2, 3, 4, 5, 6)

In [39]:
#also tuple can also 
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [4]:
mixed_tuple=(1,"hello",3.14,True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [41]:
#Accessing tuple element
print(numbers)
numbers[0]

(1, 2, 3, 4, 5, 6)

1

In [42]:
numbers[-1]

6

In [43]:
numbers[0:4]

(1, 2, 3, 4)

In [44]:
numbers[::]

(1, 2, 3, 4, 5, 6)

In [45]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [5]:
concat=numbers+mixed_tuple
print(concat)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3.14, True)

In [6]:
mixed_tuple*3

(1, 'hello', 3.14, True, 1, 'hello', 3.14, True, 1, 'hello', 3.14, True)

In [8]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [9]:
numbers

(1, 2, 3, 4, 5, 6)

In [10]:
#Immuatable nature of tuples
lst=[1,2,3,4,5]
print(lst)
lst[1]="hisham"
print(lst)

[1, 2, 3, 4, 5]
[1, 'hisham', 3, 4, 5]

In [14]:
print(numbers)
# numbers[1]="Hisham"#error

(1, 2, 3, 4, 5, 6)

In [16]:
print(numbers)
## Tuple Methods
numbers.count(1)

(1, 2, 3, 4, 5, 6)

1

In [17]:
numbers.index(3)

2

In [18]:
#packing and Unpacking tuple
##packing
packed_tuple =1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [20]:
#unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [23]:
##Unpacking with Star(*)
numbers=(1,2,3,44,5,6)
first ,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 44, 5]
6

In [27]:
## Nested Tuple
## Nested List
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [29]:
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]#we can create a tuple inside a list  
lst[2][0:3]

(1, 'Hello', 3.14)

In [30]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

## access the element inside a tuple\
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [35]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print("")

1 2 3
a b c
True False