### SQL and SqLite
SQL (structured Query language) is a standard language for managing and manipulating relational databases.SQLite is a self-contained ,serverless, and zero-configuartion database engine that is widely used for embedded database systems. In this lesson , we will cover the basics of SQL and SQLite ,including creating databases,tables and performing various SQL operations

In [1]:
import sqlite3

In [2]:
# connect to the SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
## cursor is used to iterate through all the tables
cursor = connection.cursor()

In [5]:
# create a table
cursor.execute('''
Create Table If Not Exists employees(
               id integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
               )
''')

# commit the changes
connection.commit()

In [6]:
cursor.execute('''
    select * from employees
''')

In [7]:
## Insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Hisham',21,'Data engineer')
''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('bob',30,'Data Analyst')
''')
cursor.execute('''
Insert Into employees(name,age,department)
               values('krish',32,'Data Scientist')
''')

## commit the changes
connection.commit()

In [13]:
# Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()
# rows

for row in rows:print(row)

(1, 'Hisham', 21, 'Data engineer')
(2, 'bob', 30, 'Data Analyst')
(3, 'krish', 32, 'Data Scientist')

In [16]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age = 22
where name="Hisham"
    
               ''')
connection.commit()

In [17]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()
# rows

for row in rows:print(row)

(1, 'Hisham', 22, 'Data engineer')
(2, 'bob', 30, 'Data Analyst')
(3, 'krish', 32, 'Data Scientist')

In [18]:
# Delete the data from the table
cursor.execute('''
Delete from employees
               where name='bob'
''')
connection.commit()

In [20]:
## Update the data in the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()
# rows

for row in rows:print(row)

(1, 'Hisham', 22, 'Data engineer')
(3, 'krish', 32, 'Data Scientist')

In [21]:
## working with Sales data
# connect to an SQLite database
connection = sqlite3.connect('Sales.db')
cursor = connection.cursor()

#create a table for sales data
cursor.execute('''
create table if not exists sales(
               id Integer primary key,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales Integer ,
               region text)
''')

In [22]:
# Insert data into sales table
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'south'),
    ('2023-01-03','Product1',150,'east'),
    ('2023-01-04','Product3',250,'west'),
    ('2023-01-05','Product2',300,'North'),
]

In [24]:
cursor.executemany('''
Insert into sales (date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [25]:
cursor.execute('select * from sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'south')
(3, '2023-01-03', 'Product1', 150, 'east')
(4, '2023-01-04', 'Product3', 250, 'west')
(5, '2023-01-05', 'Product2', 300, 'North')

In [26]:
## close the connection
connection.close()

In [27]:
cursor.execute('select * from sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

In [29]:
cursor.execute('select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.