In [2]:
# create a set
my_set = {1,2,3,4,5}
print(type(my_set))
my_set

<class 'set'>

{1, 2, 3, 4, 5}

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [5]:
my_empty_set=set([1,2,3,4,5,6])
print(type(my_empty_set))
my_empty_set

<class 'set'>

{1, 2, 3, 4, 5, 6}

In [9]:
set1=set([1,2,3,6,5,4,5,5,6,6])
set1

{1, 2, 3, 4, 5, 6}

In [10]:
# Basics Sets Operation
## Adding and removing Elements
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [12]:
set1.add(7)
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
#Removing teh element
set1.remove(7)
set1

{1, 2, 3, 4, 5, 6}

In [17]:
# set1.remove(7)
set1

{1, 2, 3, 4, 5, 6}

In [19]:
set1.discard(11)
print(set1)

{1, 2, 3, 4, 5, 6}

In [20]:
# pop method deletes first element
print(set1.pop())
set1

1

{2, 3, 4, 5, 6}

In [21]:
set1.clear()
print(set1)

set()

In [22]:
#set membership test
set2={1,2,3,4,5}
print(3 in set2)
print(10 in set2)

True
False

In [2]:
# Mathematical operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

# union
union_set=set1.union(set2)
print(union_set)

# intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [10]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#Difference
print(set1.difference(set2))
set1.difference_update(set2)
print(set1)
set1={1,2,3,4,5,6}
print(set2.difference_update(set1))

{1, 2, 3}
{1, 2, 3}
None

In [11]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [16]:
set1={1,2,3}
set2={3,4,5}
set3={1,2,3,4,5}
# is subset
print(set1.issubset(set2))
print(set1.issubset(set3))
# Superset
print(set1.issuperset(set2))
print(set3.issuperset(set1))

False
True
False
True

In [17]:
lt=[1,2,3,4,5,6]
set(lt)

{1, 2, 3, 4, 5, 6}

In [19]:
# Counting Unique words in text

text ="Lorem ipsum dolor sit amet consectetur, adipisicing elit. A blanditiis eligendi eveniet perferendis iste alias aliquam nesciunt provident facere aperiam."

words=text.split()

## cvt to words to unique word

un_words = set (words)
print(un_words)
print(len(un_words))

{'ipsum', 'nesciunt', 'perferendis', 'amet', 'A', 'aliquam', 'elit.', 'facere', 'blanditiis', 'provident', 'dolor', 'iste', 'sit', 'consectetur,', 'Lorem', 'eveniet', 'aperiam.', 'eligendi', 'adipisicing', 'alias'}
20